/** Everything is in the order it is seen on the page */
body
{
    margin: 0;
    font-family: monospace;
}
/** Header */
#titleText
{
    font-size: 55px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}

#headDivider
{
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    display: flex;
    z-index: 1;
   
}

#summaryText
{
    color: black;
    cursor: pointer;
    background-color: white;
}

details
{
    z-index: 1;
    position: absolute;
    left: 0;
    background-color: black;
}

#def
{
    cursor: pointer;
    color: white;
    transition: color 1s;
}

#hallo:hover
{
    color: orange;
}

#hallo
{
    cursor: pointer;
    color: white;
    transition: color 1s;
}

#drac:hover
{
    color: rgb(139, 233, 253);
}

#drac 
{
    cursor: pointer;
    color: white;
    transition: color 1s;
}


/** === */

/* Gameplay Area */

#bodyContainer
{
    
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 255px;
    background-color: darkgray;
    display: flex;
    flex-direction: row;
   align-self: center;
    justify-content: center;
    
    flex-wrap: wrap;
    position: relative;
    top: 25px;
    column-gap: 55px;
   
    
}

#hangmanContainer
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

#hangImage
{
    flex-grow: 3;
    width: 565px;
    height: 450px;
}

#wordUsedDisplay
{
    display: flex;
    flex-direction: row;
    column-gap: 3px;
    
}

#mechanics
{
    padding: 25px;
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    text-align: center;
    
}

#wordSpawner
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 25px;
    font-size: 25px;
}

#label
{
    font-size: 20px;
}

#inputBox
{
    color:white;
    background-color: black;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    
}

#submitButton
{
    color: black;
    text-decoration: underline;
    cursor: pointer;
   
}

/** === */


/** Footer */

#bottomBar
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 75px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
}

#clearButton
{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

@media screen and (orientation: portrait)
{
   
    body
    {
        scrollbar-width: none;
    }
    #hangImage
    {
        width: 295px;
        height: 190px;
    }
    #hangmanContainer
    {
        width: 100%;
    }
    #wordSpawner
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 45px;
        font-size: 15px;
    }



}
@media screen and (max-width: 1220px) 
{
    body
    {
        scrollbar-width: none;
    }
    #bodyContainer
    {
        padding-bottom: 150px;
    }
    #mechanics
    {
        padding-bottom: 150px;
    }
    
}


