body {
    background-color: rgb(255, 117, 24);
}
#titleText {
    font-size: 65px;
    font-family: "Emilys Candy";
    font-style: italic;
    color: black;
    text-align: center;

}
#wordsandpoints {
    display: flex;
    flex-direction: column;
}
#wordSpawner {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    column-gap: 25px;
}
#pointsDisplay {
    
    
    display: flex;
    flex-direction: row;
    column-gap: 35px;
    text-align: center;
    justify-content: center;
}
#mechanics {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    text-align: center;
}